# 工作流名称
name: Sync-Images-to-DockerHub-Example
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to DockerHub.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: ${{ secrets.DOCKER_REGISTRY }}
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false
        
    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
        #!/usr/bin/env bash
        #skopeo copy docker://gcr.io/kaniko-project/executor:v1.13.0 docker://weiyigeek/kaniko-executor:v1.13.0

        #skopeo copy docker://ghcr.io/tenstorrent/tt-mlir/tt-mlir-ci-ubuntu-22-04:latest docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tqs:latest

        # skopeo copy docker://ghcr.io/tenstorrent/tt-metal/tt-metalium/ubuntu-22.04-amd64:latest docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-metalium-ubuntu-22.04-amd64:latest
        # skopeo copy docker://ghcr.io/tenstorrent/tt-forge-fe-slim:0.2.0.dev20250723 docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-forge-fe-slim:0.2.0.dev20250723
        # skopeo copy docker://ghcr.io/tenstorrent/tt-forge-fe/tt-forge-fe-ird-ubuntu-22-04:dt-ba7b3d0f592cf759130de4795c1e379d8b7858715a8b1474857be31f992f0867 docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-forge-fe-ird-ubuntu-22-04:dt-ba7b3d0f592cf759130de4795c1e379d8b7858715a8b1474857be31f992f0867
        # skopeo copy docker://ghcr.io/tenstorrent/tt-metal/tt-metalium/ubuntu-22.04-dev-amd64:dc6efbf922d98f7e05214b3e37b908c5aad9ae2a docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-metalium-ubuntu-22.04-dev-amd64:dc6efbf922d98f7e05214b3e37b908c5aad9ae2a
        # skopeo copy docker://ghcr.io/tenstorrent/tt-metal/tt-metalium/ubuntu-22.04-dev-amd64:2c3bfdbace914b7674757815241961d5c47ace1a docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-metalium-ubuntu-22.04-dev-amd64:2c3bfdbace914b7674757815241961d5c47ace1a
        # skopeo copy docker://ghcr.io/tenstorrent/tt-llk/tt-llk-ird-ubuntu-22-04:dt-a85dcc12a4160a88f997ea946e46ce1439e74bfac9ec38915bd43e354cd4a5de docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-llk-ird-ubuntu-22-04:dt-a85dcc12a4160a88f997ea946e46ce1439e74bfac9ec38915bd43e354cd4a5de
        # skopeo copy docker://ghcr.io/tenstorrent/tt-metal/tt-metalium/ubuntu-22.04-dev-amd64:5d683e3415ca1e83a2b1c3082d5df85218949c34 docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/tt-metalium-ubuntu-22.04-dev-amd64:5d683e3415ca1e83a2b1c3082d5df85218949c34
        skopeo copy docker://pytorch/pytorch:2.9.1-cuda12.8-cudnn9-devel docker://crpi-jy9d8ytudetsnk6q.cn-hangzhou.personal.cr.aliyuncs.com/tqs/pytorch:2.9.1-cuda12.8-cudnn9-devel
        

        
